/* CharactersPage.css */

.pageContainer {
  position: fixed;
  top: 0; /* Start at the top of the viewport */
  left: 0; /* Start at the left of the viewport */
  right: 0; /* Extend to the right end of the viewport */
  bottom: 0; /* Extend to the bottom end of the viewport */
  padding: 30px;
  font-family: sans-serif;
  background-color: #2b2b2b;
  /* background-image: url("./src/components/assets/tabletop.png"); */
  background-size: cover;
  color: white;
  overflow: auto; /* Allow internal scrolling if the content overflows */
}

.top-area {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 10px;
  padding-top: 1rem;
  width: 100%;
  background-color: #2b2b2b;
  z-index: 10;
}

h1 {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 20px;
}

.filterBar {
  width: 80%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #5e5e5e;
  background-color: #444;
  color: white;
  font-size: 1rem;
  margin-bottom: 20px;
  outline: none;
  transition: border 0.2s;
  margin-right: 45px;
}

.filterBar:focus {
  border-color: goldenrod;
}

.topSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  /* margin-top: 10px; */
  padding: 10px 20px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: red;
}
.login-button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 8); /* Insets shadow on buttons inside the charactersPage shadow */
}

.characterCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: absolute;
  top: 18rem;
  overflow: hidden;
  /* overflow-y: auto; */
  /* background-color: #2b2b2b; */
  padding-bottom: 5rem;
  padding-top: 10px;
}

.character-card {
  perspective: 1500px; /* Adjust this value for a "deeper" 3D effect */
  width: 250px;
  height: 350px;
  /* background: #4e4e4e; */
  border-radius: 5px;
  /* overflow: hidden; */
  transform-style: preserve-3d;
  transition: transform 0.5s; /* You can tweak the time here */
  transform-origin: center;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, box-shadow 0.3s;

  /* box-shadow: 0 0 5px rgba(205, 10, 10, 1); */
}

.character-card:hover {
  transform: translateY(-10px);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.character-card.flipped .card-inner {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 1s;
}
.card-front {
  position: relative;
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 10px 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.hero-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(155, 155, 155);
  color: black;
  overflow: scroll;
}

.card-front img {
  max-width: 100%;
  max-height: 70%;
  object-fit: cover;
}

/* .card-front h3 {
  position: absolute;
  bottom: 1rem;
} */
h3 {
  position: absolute;
  bottom: 1rem;
  margin: 0;
  padding: 10px;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /*Adds a semi-transparent background to the text for better readability */
  border-radius: 10px;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #616060;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: transform 0.5s, opacity 0.5s;
}
.card-back input {
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
  text-align: center;
}

.card-back::-webkit-scrollbar {
  width: 2px;
}

.card-back::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  border-radius: 4px;
}

.back-top-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 1.59em;
}

.level-circle {
  width: 50px;
  height: 50px;
  background-color: darkred;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-left: auto; */
  margin-top: 5px;
  position: absolute;
  top: 5px;
  right: 1rem;
}

.card-back h2 {
  position: absolute;
  left: 1rem;
  top: 1rem;
  max-width: 60%;
  /* font-size: 1.5rem; */
}

.stats {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  font-size: 0.9rem;
  /* border: 1px solid green; */
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
}
.stats p {
  margin: 0;
}
.quick-stats-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 118%;
  flex-wrap: wrap;
}
.quick-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  height: 3rem;
  width: 3.6rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.bordered-box .quick-stats {
  width: 4rem;
  gap: 5px;
  text-transform: capitalize;
}

.words {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.background {
  width: 110%;
  max-height: 15rem;
  /* height: fit-content; */
  overflow-y: scroll;
  /* border: 1px solid #5e5e5e; */
  /* padding: 5px; */
  font-size: 0.8rem;
}

.background textarea {
  width: 100%;
  height: 8rem;
  border: 1px solid #ccc;
  /* word-wrap: break-word; */
  resize: none;
  overflow: inherit;
  padding: 2px;
}

.background::-webkit-scrollbar {
  width: 8px;
}

.background::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  border-radius: 4px;
}

.background h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: goldenrod;
}

.edit-delete-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

/* trying to get the "edit" stuff lined up after the state change */
.edit-section {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  /* text-transform:capitalize; */
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.bordered-box {
  position: relative;
  border: 1px solid rgb(165, 160, 160);
  padding: 1rem 0 0 0;
  margin: 0 -6px 0 -6px;
  width: 110%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #817d7d;
  padding: 1px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
}
.passive-stats-container {
  width: 110%;
  /* border: 1px solid yellow; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pasv-stats {
  display: flex;
  border: 1px solid rgb(40, 41, 40);
  background: #b3b1b1;
  font-size: 12px;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 2rem;
  border-radius: 10px;
}
.pasv-stats p {
  border: 4px solid rgb(47, 47, 60);
  border-radius: 50px;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -4px;
}
.pasv-stats input {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
}
