.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.overlay-content {
  width: 40rem;
  height: 75%;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 0.8rem;
  overflow: scroll;
  overflow-x: hidden;
  
}
.overlay-content::-webkit-scrollbar {
  width: 0.5rem;
}

.overlay-content::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  border-radius: 4px;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header button {
  width: fit-content;
  border-radius: 50px;
  height: fit-content;
}
.edit-section {
  height: 100%;
}

.card-container {
  border: 1px solid green;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card-container-top {
  display: flex;
  justify-content: space-between;
}
.image-container {
  border: 1px solid purple;
  width: 50%;
  max-height: 14rem;
  align-items: center;
}
.image-container img {
  width: 100%;
  /* margin-bottom: 2px ; */
  max-height: 90%;
}
.core-info {
  border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  /* gap: 6px; */
  height: 14rem;
  margin-bottom: 10px;
}
.stats-box {
  border: 1px solid #ccc;
  /* padding: 10px; */
  /* margin-top: 20px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  justify-content: space-between;
  align-items: start;
  padding-left: 10rem;
}
.primary-stats-container, .saves-container {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
.saves-container {
  margin-top: 10px;
  margin-bottom: 10px;

}

.additional-stats {
  width: 15%;
  height: 4rem;
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.additional-stats input {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.additional-stats p {
  font-size: 12px;
}

.small-container {
  height: 10px;
  width: 10px;
  border: 4px solid black;
}

textarea {
  margin-top: 10px;
  border: 1px solid gold;
  height: 9rem;
  padding: 1rem;
  overflow: scroll;
  overflow-x: hidden;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0.5rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  border-radius: 4px;
}
.passives-container{
  border: 2px solid blue;
  width: 100%;
  height: 3rem;
  color: black;
  display: flex;
  justify-content: space-evenly;
  background: grey;
  gap: 2rem;
  /* padding: .5rem */
  margin-bottom: 10px;

}
.passive-stats {
  width: 28%;
  height: 10px;
  
}
.passives-container p{
  color: black;
}

.close-button {
  height: 2rem;
  width: 6rem;
}

.submit-button {
  align-self: flex-end;
  margin-top: 10px;
}
