/* Dashboard.css */
.dashboard-container {
  background-image: url("../assets/dashboard1.jpg"); /* Update the path accordingly */
  background-size: cover;
  padding-top: 100px;
  background-repeat: no-repeat;
  min-height: calc(100vh - 45px); /* Subtract the footer height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent content overflow */
}
