.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 2rem;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    padding-left: 2rem;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .social-icons,
  .notification-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
  }
  
  .separator {
    width: 1px;
    height: 20px;
    background-color: #999;
    margin: 0 10px;
  }
  
  .logout-icon {
    font-size: 20px;
    color: #e74c3c;
    margin-left: 10px;
    cursor: pointer;
  }
  